{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit</h1>
    <form action="{% url 'edit' %}" method="POST">
        {% csrf_token %}
        <label>Enter a title:</label><br>
        <input type="text" id="form4Example1" class="form-control w-25" name="title" value="{{value1}}"><br>
        <label>About:</label><br>
        <textarea class="form-control" id="textAreaExample1 w-25" rows="5" name="content">{{value2}}</textarea><br>
        <input type="submit" value="edit" class="btn btn-primary">
    </form>
{% endblock %}